<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.title')%></strong>
    <%= product.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.description') %></strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.image_url') %></strong>
    <%= product.image_url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= t('.price') %> </strong>
    <%= number_to_currency product.price %>
  </p>

  <% if action_name != "show" %>
    <%= link_to t('.show'), product, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t('.edit'), edit_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
