<% if line_item == @current_item %>
<tr class="line-item-highlight" >
<% else %>
  <tr>
<% end %>
    <td class="text-right"><%= line_item.quantity %></td>
    <td>&times;</td>
    <td class="pr-2"><%= line_item.product.title %></td>
    <td class="text-right font-bold"><%= number_to_currency(line_item.total_price, format: "%n %u", unit: "MKD")%></td>
    <% if local_assigns[:layout] %>
      <td><%= button_to 'Remove', line_item_path(line_item), method: :delete, class: "ml-4 rounded-lg py-1 px-2 text-white bg-slate-400" %></td>
      <td><%= button_to "+", increment_quantity_line_item_path(line_item), class: "ml-4 rounded-lg py-1 px-2 text-white bg-slate-400" %>
      <td><%= button_to '-', decrement_quantity_line_item_path(line_item), class: "ml-4 rounded-lg py-1 px-2 text-white bg-slate-400" %></td>
    <% end %>
  </tr>
</tr>
