<% if line_item == @current_item %>
<tr class="line-item-highlight" >
<% else %>
  <tr>
<% end %>
    <td class="text-right"><%= line_item.quantity %></td>
    <td>&times;</td>
    <td class="pr-2"><%= line_item.product.title %></td>
    <td class="text-right font-bold"><%= number_to_currency(line_item.total_price)%></td>
    <% if local_assigns[:layout] %>
      <span>
        <td><%= button_to line_item_path(line_item), method: :delete do %>
            <%= render_svg "icons/trash-can", styles: "w-[50px]" %>
            <% end %>
        </td>
      </span>
      <td><%= button_to increment_quantity_line_item_path(line_item) do %>
          <%= render_svg "icons/plus_icon", styles: "w-[25px]" %>
          <% end %>
      </td>
      <td><%= button_to decrement_quantity_line_item_path(line_item) do %>
          <%= render_svg "icons/minus_icon", styles: "w-[25px]" %>
          <% end %>
      </td>
    <% end %>
  </tr>
</tr>
