<!DOCTYPE html>
<html>
  <head>
    <title>Arsov Winery Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :og_tags if content_for?(:og_tags) %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if I18n.locale == :mk %>
      <p class="fixed top-0 right-0 mt-4 mr-4"><%= link_to 'English', url_for(locale: :en), class: "px-4 py-2 bg-gray-200 text-white rounded hover:bg-purple-300"%></p>
    <% else %>
      <p class="fixed top-0 right-0 mt-4 mr-4"><%= link_to 'Македонски', url_for(locale: :mk), class: "px-4 py-2 bg-gray-200 text-white rounded hover:bg-purple-300" %></p>
    <% end %>

    <header class="bg-gray-200">
      <h1><%= @page_title %></h1>
    </header>

    <section class="flex">
      <nav class="bg-gray-200 p-6">
        <%= image_tag 'logoars.png', alt: 'Arsov Winery', class: "w-36" %>
        <ul class="text-black-300 leading-8">
          <li><a href="/"><%= t('.home')%></a></li>
          <li><a href="/questions"><%= t('.questions')%></a></li>
          <li><a href="/news"><%= t('.news')%></a></li>
          <li><a href="/contact"><%= t('.contact')%></a></li>
        </ul>
        <%= render partial: "layouts/cart", locals: {cart: @cart} %>
        <% if session[:user_id] %>
          <hr class="my-2">
          <ul class="text-white-300 leading-8">
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%=  link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        <% end %>
      </nav>

      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
