<!DOCTYPE html>
<html>
  <head>
    <title>Arsov Winery Online Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :og_tags if content_for?(:og_tags) %>


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="bg-gray-200">
      <h1><%= @page_title %></h1>
    </header>

    <section class="flex">
      <nav class="bg-gray-200 p-6">
        <%= image_tag 'logoars.png', alt: 'Arsov Winery', class: "w-36" %>
        <%= render partial: "layouts/cart", locals: {cart: @cart} %>
        <ul class="text-black-300 leading-8">
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <% if session[:user_id] %>
          <hr class="my-2">
          <ul class="text-white-300 leading-8">
            <li><%= link_to 'Orders', orders_path %></li>
            <li><%=  link_to 'Products', products_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        <% end %>
      </nav>

      <main class="container mx-auto mt-4 px-5 flex">
        <%= yield %>
      </main>
    </section>
  </body>
</html>
